.conocenos__parrafo{font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.conocenos__titulo{font-family: sans-serif;
    text-align: center;
}

.conocenos{background:  #d8d8d8;

}